<%- include header %>
<div class="page">
<div class="page__bd">
    <div class="weui-search-bar" id="searchBar">
	<form class="weui-search-bar__form">
	    <div class="weui-search-bar__box">
		<i class="weui-icon-search"></i>
		<input type="search" class="weui-search-bar__input" id="searchInput" placeholder="search" required/>
		<a href="" class="weui-icon-clear" id="searchClear"></a>
	    </div>
	    <label class="weui-search-bar__label" id="searchText">
		<i class="weui-icon-search"></i>
		<span>search</span>
	    </label>
	</form>
	<a href="" class="weui-search-bar__cancel-btn" id="searchCancel">cancel</a>
    </div>
    
</div>
<div class="page__bd page__bd_spacing">
    <ul>
	<li>
	    <div class="weui-flex js_category">
		<p class="weui-flex__item cell-color">2014&nbsp;student&nbsp;list</p>
	    </div>
	    <div class="page__category js_categoryInner">
		<div class="weui-cells page__category-content">
		    <% students.forEach(function(student){ %>
			<% if(student.grade=="2014"){ %>
			    <a class="weui-cell weui-cell_access js_item" data-id="button" href="/schoolstudent/<%=student.stuid %>">
				<div class="weui-cell__bd">
			    	<p><%=student.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.stuid %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.researcharea %></p>
				</div>
				<div class="weui-cell__ft"></div>
			    </a>
			<% }%>
		    <% }); %>
		</div>
	    </div>
	</li>
	<li>
	    <div class="weui-flex js_category">
		<p class="weui-flex__item cell-color">2015&nbsp;student&nbsp;list</p>
	    </div>
	    <div class="page__category js_categoryInner">
		<div class="weui-cells page__category-content">
		    <% students.forEach(function(student){ %>
			<% if(student.grade=="2015"){ %>
			    <a class="weui-cell weui-cell_access js_item" data-id="button" href="">
				<div class="weui-cell__bd">
			    	<p><%=student.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.stuid %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.researcharea %></p>
				</div>
				<div class="weui-cell__ft"></div>
			    </a>
			<% }%>
		    <% }); %>
		    
		</div>
	    </div>
	</li>
	<li>
	    <div class="weui-flex js_category">
		<p class="weui-flex__item cell-color">2016&nbsp;student&nbsp;list</p>
	    </div>
	    <div class="page__category js_categoryInner">
		<div class="weui-cells page__category-content">
		    <% students.forEach(function(student){ %>
			<% if(student.grade=="2016"){ %>
			    <a class="weui-cell weui-cell_access js_item" data-id="button" href="">
				<div class="weui-cell__bd">
			    	<p><%=student.name %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.stuid %>&nbsp;&nbsp;&nbsp;&nbsp;<%=student.researcharea %></p>
				</div>
				<div class="weui-cell__ft"></div>
			    </a>
			<% }%>
		    <% }); %>
		</div>
	    </div>
	</li>
    </ul>
</div>
</div>
<%- include footer %>
